$px: 100vw / 1600;
$nav-height: 25 * $px;
main {
    position: relative;
	width: 100vw;
	height: calc(#{str-insert($string: '100vh - ', $insert: #{$nav-height}, $index: 9)});
}
canvas {
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
}
